.container {
    
}
#whole_page {
    background-color:white;
    height:700px;
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
}
#music_pic {
    height:330px;
}
#music_pic img {
    height: 100%;
    width: 100%;
}
#info {
    background-color:red;
}

#music_info {
    margin-top:20px;
    color:black;
}
#music_info h1 {
    font-size: 30pt;
    color:black;
}

#music_info h3 {
  margin-top: 30px;
    font-size: 15pt;
    color:black;
}
#uploader_name {
    cursor: pointer;
}
#uploader_name:hover {
    text-decoration: underline;
    color:rgb(13, 173, 40);
}
#controller {

}
#controller div {
    margin-left:1.5%;
    border:1px solid gray;
    border-radius: 5px;
}
.collect_note {
    position:fixed;
    z-index: 999;
    text-align: center;
    height:50px;
    width:150px;
    font-size:22pt;
    background-color:white;
    border:1px solid black;
    box-shadow: darkgray 1px 1px 10px 5px ;
}
#btn_report {
    border:0px;
}

#lyrics {
    overflow: hidden;
    height:400px;
    margin-top:50px;
}
.erect_l{
    position: absolute;
    left: 196px;
    background-color:black;
    width:5px;
    height:100%;
    top:0px;
}
.erect_r{
    position: absolute;
    left: 1331px;
    background-color:black;
    width:5px;
    height:100%;
    top:0px;
}
footer .container{
  position: absolute;
  left: 195px;
    background-color:black;
}
.audio_player {
    height:50px;
    padding-top:10px;
}

.audio_player i {
    color:white;
    margin-left:30px;
    float:left;
}

#bar_name {
    float:left;
    font-size:15pt;
    color:white;
}
#bar_play {
    cursor:pointer;
}
#bar_play :hover {
    color:gray;
}
#bar_bg {
    border:0.5px solid rgb(230, 221, 221);
    border-radius:2.5px;
    float:left;
    margin-left:30px;
    margin-top:8px;
    width:700px;
    height:5px;
    cursor: pointer;
}
#bar_bg {
    border:0.5px solid rgb(230, 221, 221);
    border-radius:2.5px;
    float:left;
    margin-left:30px;
    margin-top:15px;
    width:700px;
    height:5px;
    cursor: pointer;
}
#bar {
    position: relative;
    float:left;
    background-color:rgb(15, 201, 55);
    width:0px;
    height:5px;
    /*left:196px;
    top:18px;*/
    margin-left:-700px;
    margin-top:15px;
    border-radius:2.5px;
    cursor: pointer;
}
#bar i {
    color:white;
    position: relative;
    float:right;
    margin-right:-5px;
    margin-top:-5px;
}
#time {
    float:right;
    font-size:10pt;
    color:white;
    margin-top:8px;
}

#text {
    font-size:15pt;
}

.lineheight {
    color:rgb(15, 201, 55);
}

footer {
    margin-bottom:-50px;
}


.img-inner-shadow .layer {position:absolute;top:0px;right:0px;bottom:0px;left:0px}

.img-inner-shadow:hover .layer
{
box-shadow:inset 0px 0px 120px rgba(28, 223, 141, 0.9);
-moz-box-shadow:inset 0px 0px 120px rgba(0, 0, 0, 0.9);
-webkit-box-shadow:inset 0px 0px 120px rgba(109, 212, 169, 0.384)
}

.img-inner-shadow .layer
{
transition:all 0.1s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
-moz-transition:all 0.6s ease-in-out;
-ms-transition:all 0.6s ease-in-out;
-o-transition:all 0.6s ease-in-out;
}

.img-inner-shadow:hover .layer
{
transition:all 0.1s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
-moz-transition:all 0.6s ease-in-out;
-ms-transition:all 0.6s ease-in-out;
-o-transition:all 0.6s ease-in-out;
}

.img-inner-shadow-2 .layer {position:absolute;top:0px;right:0px;bottom:0px;left:0px}

.img-inner-shadow-2:hover .layer
{
box-shadow:inset 0px 0px 120px rgba(255, 255, 255, 0.9);
-moz-box-shadow:inset 0px 0px 120px rgba(255, 255, 255, 0.9);
-webkit-box-shadow:inset 0px 0px 120px rgba(255, 255, 255, 0.9)
}

.img-inner-shadow-2 .layer
{
transition:all 0.6s ease-in-out;
-webkit-transition:all 0.6s ease-in-out;
-moz-transition:all 0.6s ease-in-out;
-ms-transition:all 0.6s ease-in-out;
-o-transition:all 0.6s ease-in-out;
}

.img-inner-shadow-2:hover .layer
{
transition:all 0.6s ease-in-out;
-webkit-transition:all 0.6s ease-in-out;
-moz-transition:all 0.6s ease-in-out;
-ms-transition:all 0.6s ease-in-out;
-o-transition:all 0.6s ease-in-out;
}

.red{
  color: red;
}

.yellow{
  color:yellow;
}

