#nav-icon {
    width: 55px;
    height:55px;
	border-radius:55px;
	overflow: hidden;
}
.user{
	position:absolute;
	margin-left:10px;
	margin-top:-39px;
	width:55px;
	height:55px;
}
.user:hover .dropdown-userInfo{
	display:block;
}
.user:hover .dropdown-notify{
	display:block;
}
.user:hover .dropdown-logout{
	display:block;
}
.dropdown-userInfo {
	display:none;
	position:absolute;
	left:-33px;
	top:56px;
	background-color: #252323;
	width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}
.dropdown-notify {
	display:none;
	position:absolute;
	left:-33px;
	top:100px;
	background-color: #252323;
	width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}
.dropdown-logout {
	display: none;
	position:absolute;
	left:-33px;
	top:148px;
	background-color: #252323;
	width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}
.userInfo{
	color:white;
	font-weight: normal;
}
.notify{
	color:white;
	font-weight: normal;
}
.logout{
	font-weight: normal;
	color:red;
}
.dropdown-userInfo:hover .userInfo{
	color:#51b180;
	font-weight:bold;
}
.dropdown-notify:hover .notify{
	color:#51b180;
	font-weight:bold;
}
.dropdown-logout:hover .logout{
	font-weight:bold;
}
.is_login{
	opacity: 0;
	visibility:hidden;
}
.logined {
	cursor: pointer;
}
.msg_box{
	margin-top: 57px;
	margin-left: 97px;
	height: 80px;
	width: 50px;
  border-radius: 4px;
	background-color: white;
	opacity: 0;
}

.msg_box i{
	font-size: 20px;
	color: white;
	margin-left: -7px;
	
}
.msg_box ul{
	margin-top: -20px;
}

.msg_box ul li{
padding-left: 12px;
padding-top: 5px;
padding-right: 5px;

}

.login{
    position:fixed;
    z-index:9999;
    left:500px;
    top:70px;
    height: 555px;
    width:450px;
    background:black;
    overflow: hidden;
    border-radius:20px;
   border:5px solid rgb(33, 49, 33);
}
.login_close {
    position:fixed;
    z-index:10000;
    left:910px;
    top:80px;
    
    cursor: pointer;
}
.login_close:hover {
    color:rgb(13, 173, 40);
}
.box {
    position: absolute;
    z-index:9998;
    top: 0;
    bottom: 0;
    left: -3px;
    right: 0;
    width:105%;
    height:300%;
    background: #000;
    opacity: 0.7;
}
.temp-banner {
	background-color:darkgray;
}
#wrapper-bg {
    min-height: calc(100vh - 154px);
}
.navbar-brand {
	color:white !important;
	font-weight: bolder;
	font-size: 30pt;;
}
#navbarNav {
	justify-content: left;
}
#navbarNav ul{
	float:left;
}
#navbarNav ul li{
	margin-left:100px;
}
.header-fixed {
	background-color:rgb(71,70,95) ;
}
.hilight{
	font-weight: bold !important;
	font-size:18pt !important;
}